In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('STAFF.db')

# 테이블 생성 및 로드
## 테이블 이름
table_name = 'INSTRCTOR'
## 속성 세부정보
attribute_list = ['ID', 'FNAME', 'LNAME', 'CITY', 'CCODE']

# CSV 파일 읽기
file_path = 'c:/Users/user/Desktop/seongho/git/study/IBM/DB/INSTRUCTOR.csv'
df = pd.read_csv(file_path, names = attribute_list)

# 데이터를 테이블에 로드
## 데이터베이스에서 동일한 이름의 기존 테이블을 대체
df.to_sql(table_name, conn, if_exists = 'replace', index =False)
## 구분을 위한 print
print('Table is ready')

# 데이터에 대한 기본 쿼리
## 데이터를 보기위한 SELECT 쿼리
query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

## FNAME 열만 보기
query_statement = f"SELECT FNAME FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

## 항목 수를 세기위한 COUNT 쿼리
query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

## 새 데이터의 데이터 프레임 생성
data_dict = {'ID' : [100],
            'FNAME' : ['John'],
            'LNAME' : ['Doe'],
            'CITY' : ['Paris'],
            'CCODE' : ['FR']}
data_append = pd.DataFrame(data_dict)

## INSTRUCTOR 테이블에 데이터 추가
data_append.to_sql(table_name, conn, if_exists = 'append', index =False)
print('Data appended successfully')

# 데이터베이스 연결 닫기
conn.close()

Table is ready
SELECT * FROM INSTRCTOR
    ID    FNAME      LNAME      CITY CCODE
0    1      Rav      Ahuja   TORONTO    CA
1    2     Raul      Chong   Markham    CA
2    3     Hima  Vasudevan   Chicago    US
3    4     John     Thomas  Illinois    US
4    5    Alice      James  Illinois    US
5    6    Steve      Wells  Illinois    US
6    7  Santosh      Kumar  Illinois    US
7    8    Ahmed    Hussain  Illinois    US
8    9    Nancy      Allen  Illinois    US
9   10     Mary     Thomas  Illinois    US
10  11  Bharath      Gupta  Illinois    US
11  12   Andrea      Jones  Illinois    US
12  13      Ann      Jacob  Illinois    US
13  14     Amit      Kumar  NewDelhi    IN
SELECT FNAME FROM INSTRCTOR
      FNAME
0       Rav
1      Raul
2      Hima
3      John
4     Alice
5     Steve
6   Santosh
7     Ahmed
8     Nancy
9      Mary
10  Bharath
11   Andrea
12      Ann
13     Amit
SELECT COUNT(*) FROM INSTRCTOR
   COUNT(*)
0        14
Data appended successfully